{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xl-6">
            
        </div>
    </div>
    
</div>

<div class="container overflow-hidden">
    <div class="row gy-1">
       
            <!-- <h3 class="col-sm-4 heading">Working whit your business to bring new ideas.</h3> -->
        <div class="col-md-6 col-lg-3">
            <div class="box-service-1">
               <p class="service"> Web Development Application</p>
               <div class="image">
                <img src="/media/box1.jpg" alt="web-application">
            </div>
            </div>
        </div>
            
        <div class="col-md-6 col-lg-3">
            <div class="box-service-2">
                <p class="service">E-commerce</p> 
                <div class="image">
                    <img src="/media/ecommerce.jpg" alt="web-application">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="box-service-3">
                <p class="service">Full-Stack Web Application</p> 
                <div class="image">
                    <img src="/media/fullstack.jpeg" alt="web-application">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="box-service-4">
                <p class="service">Other Services</p>
                <div class="image">
                    <img src="/media/service.jpg" alt="web-application">
                </div>
            </div>
        </div>
            
        
    </div>
   
</div>
    
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="info-col col flex-center">
            <p>DevFab is the partner you need to promote your brand awereness online. We provide Custom Web Development Solution for small medium Business and we help you to grow.</p>
        </div>
    </div>
</div>
{% endblock %}