{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-xl-6">
            
        </div>
    </div>
    
</div>

<div class="container overflow-hidden">
    <div class="row gy-1">
       {{ item }}
            <!-- <h3 class="col-sm-4 heading">Working whit your business to bring new ideas.</h3> -->
        <div class="col-md-6 col-lg-3">
            <div class="box-service-1">
               
               <div class="image">
                
                    <p class="service"> 
                        <a href="{% url 'services' %}?category=webapp" id="service">Web Development Application</a>
                    </p>
                
            </div>
            </div>
        </div>
            
        <div class="col-md-6 col-lg-3">
            <div class="box-service-2"> 
                <div class="image">
                    <a href="{% url 'services' %}?category=ecommerce">
                        <p class="service">E-commerce</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="box-service-3">
                
                <div class="image">
                    <a href="{% url 'services' %}?category=fullstack">
                        <p class="service">Full-Stack Web Application</p> 
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="box-service-4">
                <div class="image">
                    <a href="{% url 'services' %}?category=other">
                        <p class="service">Other Services</p>
                    </a>
                </div>
            </div>
        </div>
            
        
    </div>
   
</div>
    
{% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="info-col col flex-center">
            <p>DevFab is the partner you need to promote your brand awereness online. We provide Custom Web Development Solution for small medium Business, Our web experiences are high-performing, feature-packed and digitally transformative, designed to be user-friendly, fully functional, very secure and able to scale as your enterprise grows. </p>
        </div>
    </div>
</div>

<!-- Review Section -->
<div class="container-fluid review-section reveal">
    <div class="row">
        <div class="col flex-center">
            <div class="col title-review">
                <h2>What our customers says</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars flex-center">
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                </div>
                <p>Great service I got what I was looking for. Would highly recomend them.
                </p>
                <p><strong>Carlo Rossi</strong> Cavan</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars flex-center">
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                </div>
                <p>One of the best agency around. They do really pay attention to the details.
                </p>
                <p><strong>Ann Marie Kane</strong> Dublin</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="review flex-center">
                <div class="stars flex-center">
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                    <i class="far fa-star" aria-hidden="true"></i>
                </div>
                <p>DevFab really makes your idea comes trough. Highly recomend.
                </p>
                <p><strong>Jim Red</strong> Meath</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'our_reviews' %}" class="flex-center review-button review-button-color  mt-5 mb-4 mx-auto">
                All Reviews</a>
        </div>
    </div>
</div>

<!-- Newsletter section -->
<div class="container-fluid newsletter-section reveal">
    <div class="row">
        <div class="col col-md-6 newsletter-col">
            <h2>Want to receive latest update?</h2>
            <h3>Signup to the Newsletter</h3>
        </div>
        <div class="col-12 col-md-6">
            <form class="newsletter-form flex-center" method="POST" action="{% url 'home' %}">
                {% csrf_token %}
                {{ form.email }}
                <button type="submit">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}