.service-container {
    margin: 0 auto;
}

.service-row {
    padding-top: 8rem;
    margin-bottom: 11rem;
}

.service-img-col {
    flex-direction: column;
}

.service-img-col img {
    height: 25rem;
    width: 25rem;
    border-radius: 20px;
}

.service-img-container {
    position: relative;
}

.service-details-col {
    margin: 6rem 0 6rem 5rem;
    width: 27rem;
}

.service-details {
    margin: 1rem;
}

.service-details p {
    font-size: 1.5rem;
    color: #fff;
}

.service-details h5 {
    color: #fff;
    font-size: 1.7rem;
}

.service-details hr  {
    border: 1px solid #F3812F;
}

.service-cat-link {
    color: #F3812F;
    text-decoration: underline;
    font-size: 1.2rem;
    transition: all .30s ease-in;
}

.service-quantity {
    width: 18rem;
}

.plus-btn, .minus-btn {
    border: .1rem solid #F3812F;
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 1.3rem;
    transition: all .5s ease-in-out;
}

.plus-btn i, .minus-btn i {
    font-size: 2.1rem;
    color: #F3812F;
}

label[for="quantity"] {
    font-size: 1.25rem;
    color: #F3812F;
}

input[type="number"], table input[type="number"] {
    background-color: #582DD2;
    color: #fff;
    border: .1rem solid #F3812F;
    border-radius: 0;
    font-size: 1.25rem;
    max-width: 5rem;
}

.service-link-button {
    background: none;
    border-width: 10px;
    border-color: #F3812F;
    border-radius: 10px;
    
    padding-inline: 2ch;
    padding-block: 1ch;
    font-size: 1rem;
    font-weight: bold;
    color: #F3812F;
    width: 25rem;
    height: 5rem;
    margin-bottom: 1rem;
}

/* .link-button, .service-link-button {
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    padding: 2rem;
    transition: all .5s ease-in-out;
} */

.service-keep-shop {
    background: none;
    border-width: 10px;
    border-color: #D02C75;
    border-radius: 10px;
    
    padding-inline: 2ch;
    padding-block: 1ch;
    font-size: 1rem;
    font-weight: bold;
    color: #D02C75;
    width: 25rem;
    height: 5rem;
}

.service-keep-shop a {
    text-decoration: none;
    color:#D02C75;
}

.wishlist-btn-add {
    color: #582DD2;
    border-color: #582DD2;
}

@media (min-width: 768px) {
    .service-container {
        min-height: 85rem;
    }
    .service-img-col img {
        height: 20rem;
        width: 29rem;
    }
    .service-details h3 {
        font-size: 2.8rem;
        margin-bottom: 2.5rem;
    }
    .service-details p {
        font-size: 1.75rem;
    }
}