.service-container {
    margin: 0 auto;
}

.service-row {
    padding-top: 8rem;
}

.service-img-col {
    flex-direction: column;
}

.service-img-col img {
    height: 25rem;
    width: 25rem;
    border-radius: 20px;
}

.service-img-container {
    position: relative;
}

.service-details-col {
    margin: 6rem 0 6rem 5rem;
    width: 25rem;
}

.service-details {
    margin: 1rem;
}

.service-details p {
    font-size: 1.5rem;
    color: #fff;
}

.service-details h5 {
    color: #fff;
    font-size: 1.4rem;
}

.service-details hr  {
    border: 1px solid #F3812F;
}

.service-cat-link {
    color: #F3812F;
    text-decoration: underline;
    font-size: 1.2rem;
    transition: all .30s ease-in;
}

.service-quantity {
    width: 18rem;
}

@media (min-width: 768px) {
    .service-container {
        min-height: 85rem;
    }
    .service-img-col img {
        height: 20rem;
        width: 29rem;
    }
    .service-details h3 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .service-details p {
        font-size: 1.75rem;
    }
}