{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block main_content %}
    
    <div class="container page-container">
        <div class="row">
            <div class="col flex-center page-heading">
               <h1>Checkout</h1>
            </div>
        

        <div class="row mt-3">
            <div class="col-12 col-md-6 order-md-last px-2">
                <div>
                    <div class="row">
                        <div class="col-12">
                            <h2 class="flex-center">Your Bag</h2>
                            <hr class="mx-4">
                        </div>
                       
                        <p class="text-checkout">Your Bag has ({{ item_count }})</p>
                        <div class="col-7 offset-2">
                            <p class="mb-1 mt-0 small text-checkout">Item</p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="mb-1 mt-0 small text-checkout">Subtotal</p>
                        </div>
                    </div>
                    <div class="bag-items-wrapper">
                        {% for item in bag_items %}
                        <div class="row">
                            <div class="col-2 mb-1">
                                <a href="">
                                    {% if item.item.image %}
                                        <img class="w-100" src="{{ MEDIA_URL }}{{ item.item.image.url }}" alt="{{ product.name }}">
                                    {% else %}
                                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="col-7">
                                <p class="fs-4 checkout-item">{{ item.item.name }}</p>
                                <p class="my-0 small checkout-quantity">Qty: {{ item.quantity }}</p>
                            </div>
                            <div class="col-3 text-right">
                                <p class="my-0 small text-price">€ {{ item.item.price  }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            
                <div class="row mt-4">
                    <div class="col-6 offset-6">
                        <hr class="mx-2">
                        <p class="bag-total-price">
                            Total Price : € {{ total|floatformat:2|intcomma }}
                        </p>
                    </div>
                </div>
            </div>

            
            <div class="col-12 col-md-6 px-2 mb-5">
                <p class="text-checkout">Please fill out the form below to complete your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="px-2 mb-4">
                        <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="px-2 mb-4">
                        <legend class="fieldset-label small text-black px-2 w-auto">Billing Info</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        <div class="row">
                            <div class="col-6 pe-2">
                                {{ order_form.street_address1 | as_crispy_field }}
                                {{ order_form.street_address2 | as_crispy_field }}
                            </div>
                            <div class="col-6 pe-2">
                                {{ order_form.town_or_city | as_crispy_field }}
                                {{ order_form.county | as_crispy_field }}
                            </div>
                        </div>
                       
                        <div class="form-check form-check-inline float-right mr-0">
                            {% if user.is_authenticated %}
                                <input class="form-check-input" type="checkbox" id="save-info"
                                    name="save-info" checked>
                                <label class="form-check-label" for="save-info">
                                    Save info to profile.
                                </label>
                            {% else %}
                                <p class="form-check-label">
                                    <a class="text-info" 
                                    href="{% url 'account_signup' %}">
                                    Create an account</a> or
                                    <a class="text-info" 
                                    href="{% url 'account_login' %}">
                                    login</a> to save this information
                                </p>
                            {% endif %}
                        </div>

                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    </fieldset>

                    <div class="submit-button text-right mt-5 mb-2">                    
						<a href="{% url 'view_bag' %}" class="btn btn-outline-black rounded-0">
							<span class="icon">
								<i class="fas fa-chevron-left"></i>
							</span>
							<span class="font-weight-bold">Adjust Bag</span>
						</a>
						<p class="small text-danger my-0">
							<span class="icon">
								<i class="fas fa-exclamation-circle"></i>
							</span>
							<span>Your card will be charged <strong>€ {{ total|intcomma }}</strong></span>
                            <button type="submit" id="submit-order" class="service-checkout-shop">
                                Checkout
                            </button>
						</p>
					</div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <div id="loading-overlay">
        <h1 class="text-light logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postloadjs%}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}

