.order-history {
    max-height: 30rem; /* HEIGHT OF PROFILE FORM + SUBMIT BUTTON*/ 
    overflow-y: auto;
    margin: 2rem;
}

#profile-update-form .form-control {
    color: #000;
    margin-bottom: 2rem;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

.profile-billing {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.order-link {
    color: #F3812F;
}

.td-order {
    color: #fff;
    font-size: 1.3rem;
}

.top-nav {
    background: #D02C75;
}