html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #190E5F;
}

.title {
    color: #fff;
    margin: 5px;
}

.container {
    position: relative;
}

.heading {
    color: #fff;
    position: absolute;
    top: 10rem;
}

.box-service-1 {
    background-color: #F3812F;
    height: 14rem;
    width: 12rem;
    position: absolute;
    right: 16.5rem;
}

.box-service-2 {
    background-color: #D02C75;
    height: 14rem;
    width: 12rem;
    position: absolute;
    right: 5px;
    top: 10.5rem;
}

.box-service-3 {
    background-color: #582DD2;
    height: 14rem;
    width: 12rem;
    position: absolute;
    top: 20.5rem;
    right: 16.5rem;
}

.box-service-4 {
    background-color: #F3812F;
    height: 14rem;
    width: 12rem;
    position: absolute;
    right: 5px;
    top: 30.5rem;
}