html {
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: #190E5F;
    min-height: 100vh;
}

.title {
    color: #fff;
    margin: 5px;
}

.heading {
    color: #fff;
    margin-top: 4rem;
}

.box-service-1 {
    background-color: #F3812F;
    height: 14rem;
    margin-top: 25rem;
}

.box-service-2 {
    background-color: #D02C75;
    height: 14rem;
    margin-top: 16rem;
    
}

.box-service-3 {
    background-color: #582DD2;
    height: 14rem;
    margin-top: 24rem;
   
}

.box-service-4 {
    background-color: #F3812F;
    height: 14rem;
    margin-top: 11rem;
    
}