{% extends "base.html" %}

{% block content %}
    <div class="contaner page-container allauth-container m-auto">
        <div class="overlay"></div>
        <div class="row">
            <div class="col-12 page-heading text-center">
                <h1>Welcome to Dev_fab</h1>
            </div>
            <div class="col-12 page-heading text-center">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}