{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a class="signup-link" href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>



  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>


{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p class="account-info">{% blocktrans %}If you have not created an account yet, then please
<a class="signup-link" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login allauth-form" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="bag-links d-flex">
    <button class="service-checkout-shop service-link-button" id="home-login">
      <a class="service-link-button" href="{% url 'home' %}">Home</a>
    </button>
      <button class="service-keep-shop service-link-button" type="submit">{% trans "Sign In" %}</button>
  </div>
  <p class="mt-2">
    <a class="signup-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  </p>
</form>
</div>

{% endblock %}