{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col flex-center service-header">
                <h1>Our Services</h1>
        
            </div>
        </div>
    </div>
    <div class="row">

        {% for item in item %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3 product-cols">
            <div class="card h-100 border-0">
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ item.image.url }}" alt="{{ item.name }}">
                </a>
                <div class="card-body pb-0">
                    <p class="mb-0">{{ item.name }}</p>
                    <p>{{ item.description }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">€{{ item.price }} </p>
                </div>
                <div class="card-footer pt-0 border-0 text-left">
                    <div class="row">
                    
                        <a href="" class="col-5 btn btn-sm rent--btn"><i class="bi bi-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
