{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="col flex-center service-header">
                <h1>Our Services</h1>
        
            </div>
        </div>
    </div>
    <div class="row">

        {% for item in item %}
        <div class="card-body">
            <p >{{ item.name }}</p>
            <p>€{{ item.price }} Per Day</p>
            <a href="">
                <img src="{{ item.image.url }}" alt="{{ item.name }}">
            </a>
        </div>
            <p>{{ item.name }}</p>
        {% endfor %}
    </div>
</div>
{% endblock %}


