{% extends "base.html" %}
{% load static %}

{% block title %}
{{ item.name }}
{% endblock %}
{% block main_content %}
<div class="container service-container">
    <div class="row service-row">
        <div class="col-12 col-md-6 service-img-col flex-center">
            <!-- display like and unlike button -->
            <div class="service-img-container">
                {% if item.image %}
                <img src="{{ item.image.url }}" alt="image for {{ item.name }}">
                {% else %}
                <img src="{{ MEDIA_URL }}imagenotfound.png" alt="No image found for {{ item.name }}">
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 service-details-col flex-center">
            <div class="service-details">
                <h3>{{ item.name }}</h3>
                <hr>
                <a class="service-cat-link"
                    href="{% url 'services' %}?category={{ item.category.name }}">{{ item.category.display_name }}
                </a>
                <hr>
                <h5>{{ item.description }}</h5>
                <hr>
                <p>€ {{ item.price }}</p>
                <form class="form service-form mt-3" action="" method="POST">
                
                    <div class=" flex-row-between service-quantity">
                        <div class="minus-btn flex-center">
                            <i class="fas fa-minus"></i>
                            <span class="sr-only">decrement button</span>
                        </div>
                        <div class="mb-3">
                            <label for="quantity" class="form-label">Quantity</label>
                            <div>
                                <input class="form-control" type="number" name="quantity" value="1" min="1" max="9"
                                    id="quantity">
                            </div>
                        </div>
                        <div class="plus-btn  flex-center">
                            <i class="fas fa-plus flex-center" aria-hidden="true"></i>
                            <span class="sr-only">increment button</span>
                        </div>
                    </div>
                    <button type="submit" class=" service-link-button flex-center">Add To Cart</button>
                    <input type="hidden" name="redirect_url" value="">
                </form>
                <button class="service-keep-shop service-link-button  flex-center">
                    <a href="" >Keep Shopping</a>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}